<script setup lang="ts">
import imagePath from './assets/saillard.png'
import logoPath from './assets/logo.png'
import audioPath from './assets/music.mp3'

const paroles = [
  "intro musicale : 2 phases (synthé + guitare)",
  "~",
  "Egaré / au fin fond de la Haute-Marne",
  "Il s'appelle / Oliver Saillard",
  "La langue de Goethe / il parle à merveille",
  "Encor' plus avec / une Faxe au réveil",
  "Grand passionné / de bicyclette",
  "Il n'a pas peur / d'une petite grimpette",
  "Il a frôlé / l'insolation ",
  "Sur la plage / de la baie des cochons (ons ons ons)",
  "~",
  "interlude musical : 2 phases (guitare + transition guitare)",
  "~",
  "Reconnu / comme grand chef cuisinier",
  "Il a l'habitude / de nous régaler",
  "Désormais / c'est plutôt végé",
  "Alors qu'avant / on le croyait boucher",
  "Grand fan des jeux / de société",
  "Dans les règles / il veut gagner !",
  "Il s'occupait / de faire les poubelles",
  "Maint'nant photograph' / professionnel (el el el)",
  "~",
  "interlude musical : 3 phases (guitare + transition guitare + synthé)",
  "~",
  "Et soudain / il l'a rencontrée",
  "La fort charmante / Marie B",
  "Il l'attira / tel un aimant",
  "Malgré ses quelques / ronflements",
  "Elle décrypta / ses émotions",
  "Le couch surfing / ça a du bon",
  "~",
  "interlude musical avec 1 phase (synthé + break)",
  "~",
  "Au Kitkat Club / il l'épata",
  "Vêtu de son / plus simple apparat",
  "Cuba, Cambodge / Inde et Italie",
  "Ce sont deux / globe-trotters aguerris",
  "A Bessans / amateurs de ski d'fond",
  "Ils s’inscriront / bientôt au marathon",
  "Ils allient / métiers et passions",
  "Chapeau bas / à nos joyeux lurons (ons ons ons)",
  "~",
  "interlude musical : 3 phases (guitare + transition guitare + synthé)",
  "~",
  "Et soudain / ils se sont mariés",
  "Charge à nous / d'les féliciter",
  "C'est à Langres / qu'tout a commencé",
  "Là où la magie / a opéré",
  "En lune de miel / ils vont voyager",
  "Vers des coins / plus ensoleillés",
  "Et soudain / ils se sont mariés",
  "Avec nous / ils vont festoyer",
  "C'est à Langres / qu'ils sont installés",
  "Là où leur vie va continuer"]

</script>

<template>
  <div class="background" :style="{ backgroundImage: `url(${imagePath})` }">
  </div>
  <div class="paroles-container">
    <div class="centered">
      <img :src="logoPath" class="logo">
    </div>
    <div class="centered">
      <audio controls>
        <source :src="audioPath" type="audio/mpeg"/>
      </audio>
    </div>
    <div class="paroles">
      <div class="parole" v-for="parole in paroles">{{ parole }}</div>
    </div>
    <div class="centered">
      <img :src="logoPath" class="logo">
    </div>
  </div>
</template>

<style scoped>
.background {
  width: 100%;
  height: 100%;
  opacity: 15%;
}

.paroles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paroles {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parole {
  line-height: 18px;
}
</style>
